@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Employee Management .Net Core App</h1>
    <p>Learn about more about <a href="https://docs.microsoft.com/aspnet/core">This App to manage the employees</a>.</p>
</div>
